<!-- templates/tplibrary/dictionaries.html -->
{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">Справочники</h2>
<div class="row">
    <div class="col-md-4">
        <h3>Должности</h3>
        <ul>
            {% for role in roles %}
                <li>{{ role.name }}</li>
            {% endfor %}
        </ul>
        <form method="post" action="{% url 'add_role' %}">
            {% csrf_token %}
            {{ role_form.as_p }}
            <button type="submit" class="btn btn-primary">Добавить должность</button>
        </form>
    </div>
    <div class="col-md-4">
        <h3>Цеха</h3>
        <ul>
            {% for workshop in workshops %}
                <li>{{ workshop.number }}</li>
            {% endfor %}
        </ul>
        <form method="post" action="{% url 'add_workshop' %}">
            {% csrf_token %}
            {{ workshop_form.as_p }}
            <button type="submit" class="btn btn-primary">Добавить цех</button>
        </form>
    </div>
    <div class="col-md-4">
        <h3>Изделия</h3>
        <ul>
            {% for item in items %}
                <li>{{ item.name }}</li>
            {% endfor %}
        </ul>
        <form method="post" action="{% url 'add_item' %}">
            {% csrf_token %}
            {{ item_form.as_p }}
            <button type="submit" class="btn btn-primary">Добавить изделие</button>
        </form>
    </div>
</div>
{% endblock %}
