<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронный архив цеха №...</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body>
    <div class="container">
                <h2>Электронный архив цеха №...</h2>
                <a href="{% url 'addtp' %}" class="btn">Добавить техпроцесс в базу</a>
                <a href="{% url 'data' %}" class="btn">Просмотреть данные</a>
            </div>
        </div>
    </div>
</body>
</html>